p{
    text-align: justify;
}

.masthead {

    background-color: #71ae2c;
    height: 80px;
    max-width: 100%;
}

.masthead-title{
    padding-top: 5px;
    padding-left: 60px;

}

nav.cms_nav{
    
    padding-right: 30px;

}

nav ul li a{
    color: #ffffff;
}

.container{
    max-width: 50rem;
}